manifest {
    description = 'Generate some stats on a BAM file'
    author = 'Sonali Joshi'
}

params {
    RNASeq_input = "$baseDir/sampleData/test.fastq"
}

process {
	withName:checkQuality {
		container = 'staphb/fastqc'
	}
	
	withName:aggregateQC {
		container = 'staphb/multiqc'
	}

}

docker {
    enabled = true
    docker.runOptions = '-v ${PWD}:/data/'
//    temp = 'auto'
//    enabled = true
}